<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">


</head>
<body>

    <div class="topnav">
        <a href="/welcome">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a class="active" href="/feed">Feed</a>
        <a href="/users">Users</a>
    </div>    

    <h2>My Feed</h2> 

    <div id = "feed-container">

    </div>


</body>

<script>
    function fetchPosts(){

        fetch('/api/feed')
            .then(response => response.json()) //parsing response object to text => needs to be json
            // .then(data => console.log(data))
            .then(posts => renderPosts(posts));

        return false
    }

    fetchPosts()

    function renderPosts(posts){

        posts.forEach(post => {

            var parentElement = document.createElement('div')
            var parentAtt = document.createAttribute("class");
            parentAtt.value = "feedcontainer"; 
            parentElement.setAttributeNode(parentAtt);

            titleElement = document.createElement('div');
            var titleAtt = document.createAttribute("class");
            titleAtt.value = "title"; 
            titleElement.setAttributeNode(titleAtt);

            authorElement = document.createElement('div');
            descriptionElement = document.createElement('div');
            timestampElement = document.createElement('div');

            titleElement.innerHTML = "Title: " + post.title;
            authorElement.innerHTML = "Author: " + post.author;
            descriptionElement.innerHTML = "Description: " + post.description;
            timestampElement.innerHTML = "Timestamp: " + post.timestamp;

            parentElement.appendChild(titleElement);
            parentElement.appendChild(authorElement);
            parentElement.appendChild(descriptionElement);
            parentElement.appendChild(timestampElement);

            var feedContainer = document.getElementById("feed-container");
            feedContainer.appendChild(parentElement)

        });


    }
</script>

</html>
