<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body>

        <div class="topnav">
            <a class="active" href="/welcome">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <a href="/feed">Feed</a>
            <a href="/users">Users</a>
        </div>    

        <div class="welcome center">Welcome, {{.Name}}</div>

    </body>
</html>