<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body>

        <div class="topnav">
            <a class="active" href="/template/welcome.html">Home</a>
            <a href="/template/login.html">Login</a>
            <a href="/template/signup.html">Sign-Up</a>
            <a href="#about">About</a>
        </div>    

        <div class="welcome center">Welcome</div>

    </body>
</html>